<a href="https://colab.research.google.com/github/ThyAnhhh/ThuchanhToanCC/blob/main/Ch%C6%B0%C6%A1ng_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Thực hành 1

In [ ]:
from sympy import Symbol, Integral 
x = Symbol('x') 
f = 1.0/x
unbound1 = Integral(f, (x, 0, 2)) 
unbound1.doit()

oo

Thực hành 2

In [ ]:
from sympy import Symbol, Integral 
x = Symbol('x') 
f = 1.0/x**2 
unbound2 = Integral(f, (x, -1, 1)) 
unbound2.doit()

oo

Thực hành 3

In [ ]:
from sympy import Symbol, Integral, Abs
x = Symbol('x')
f = Abs(x)
discontinous1 = Integral(f, (x, -1, 2)) 
discontinous1.doit()

5/2

Thực hành 4

In [ ]:
from sympy import Symbol, Integral 
x = Symbol('x') 
f = x**(0.5) 
undef1 = Integral(f, (x, -1, 1)) 
undef1.doit()

0.666666666666667 + 0.666666666666667*I

Thực hành 5

In [ ]:
from scipy import integrate
import numpy as np
y = np.array([0.0, 4.1, 8.9, 8.5, 6.7, 4.3, 2.5, 1.2,0.2]) 
x = np.arange(0,9) 
integrate.simps(y, x)

36.26666666666666

In [ ]:
S = 2*integrate.simps(y, x)

In [ ]:
A = 5.5 
F = A/S * 60

In [ ]:
A

5.5

In [ ]:
F

4.5496323529411775

Thực hành 6

In [2]:
from sympy import *

In [3]:
x = Symbol('x')
f = x**(3/2)
f1 = Derivative(f,x).doit()
f1

1.5*x**0.5

In [5]:
d = sqrt(1+f1**2)
d = Integral(d,(x,0,2))
d

Integral(1.5*sqrt(x**1.0 + 0.444444444444444), (x, 0, 2))

In [6]:
d.doit()

3.52552395244872

Thực hành 7

In [20]:
from sympy import Symbol, Derivative, solve, Integral
x = Symbol('x')

In [23]:
D = E = -8
F = 3
f = D*x**3 + E*x**4 + F*x**5
f

3*x**5 - 8*x**4 - 8*x**3

In [24]:
d1 = Derivative(f,x).doit()
d1

15*x**4 - 32*x**3 - 24*x**2

In [25]:
cuctri = solve(d1)
cuctri

[0, 16/15 - 2*sqrt(154)/15, 16/15 + 2*sqrt(154)/15]

Thực hành 8

In [7]:
from sympy import difference_delta as dd 
from sympy.abc import n 
dd(n*(n+1), n)

2*n + 2

In [8]:
dd(n*(n+1),n,2)

4*n + 6

In [9]:
from sympy.abc import n, k 
from sympy import limit_seq 
limit_seq((3*n**3+5*n**2+4)/(5*n**3+200*n**2+400), n)

3/5

In [10]:
from sympy.abc import n, k, m
from sympy import Sum  
limit_seq(Sum(k**2 * Sum(2**m/m,(m,1,k)),(k,1,n))/(2**n*n), n)

4

In [11]:
from sympy import series 
from sympy import Sum 
from sympy.series.limitseq import dominant 
from sympy.abc import n,k
dominant(n**3+100*n**2+200*n+1, n)

n**3

In [12]:
dominant(2**n + Sum(k, (k,0,n)), n)

2**n

In [13]:
dominant(n**2 + Sum(k, (k,0,n)), n)

In [14]:
dominant(2*n**2 + Sum(k, (k,0,n)), n)

In [15]:
dominant(n**3 + Sum(k, (k,0,n)), n)

n**3

In [16]:
dominant(n*3 + Sum(k, (k,0,n)), n)

Sum(k, (k, 0, n))

In [17]:
dominant(2*n*3 + Sum(k, (k,0,n)), n)

Sum(k, (k, 0, n))

In [18]:
dominant(2*n**3 + Sum(k, (k,0,n)), n)

2*n**3

Thực hành 9

In [26]:
from sympy import Sum
from sympy.abc import n,k
S = Sum(k, (k,0,n))
S

Sum(k, (k, 0, n))

In [27]:
from sympy import limit_seq
limit_seq(S,n)

oo

In [28]:
from sympy import Symbol, cos, series
x = Symbol('x')
S1 = series(cos(x), x)
S1

1 - x**2/2 + x**4/24 + O(x**6)

In [29]:
from sympy.abc import n
e = (1 + 1/n)**n
print(round(e.subs(n, 100).evalf(), 10))

2.7048138294